@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #fea301;
  --secondary-color: #01acfd;
  --menu-color2: #05d4df;
  --menu-color-3: #5d58ef;
  --body-color: #f7f7f7;
  --banar-btn-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared CSS --------->>> */
.container {
  width: 80%;
  margin: 0 auto;
}
.text-normal {
  font-size: 20px;
}

.btn {
  padding: 10px 45px;
  border-radius: 12px;
  border: none;
  color: var(--body-color);
  font-size: 20px;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.04);
}
.section-title {
  font-size: 46px;
}

.hover {
  transition: transform 0.5s ease;
}

.hover:hover {
  transform: scale(1.03);
}
/* Header ------------>>> */
header {
  position: relative;
  background-color: var(--body-color);
  height: 100vh;
  /* overflow: hidden; */
}

nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  gap: 7px;
  align-items: center;
}
.brand .logo {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  gap: 25px;
}
.menu-link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  transition: all 0.4s ease;
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.4s ease;
}
.menu-link:hover::after {
  width: 100%;
}
.menu-link:hover {
  transform: scale(1.1);
  
}

.menu-link:nth-child(2) {
  color: var(--secondary-color);
}
.menu-link:nth-child(3) {
  color: var(--menu-color2);
}
.menu-link:nth-child(4) {
  color: var(--menu-color-3);
}

.contact-btn {
  background-color: var(--primary-color);
}
.menu-icon {
  display: none;
}

/* Banar Section ------------>>>>> */
#banar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.banar-intro {
  /* background-color: #05d4df; */
  width: 55%;
  --banar-intro-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.title {
  font-size: 56px;
}
.title-color-text-1 {
  color: var(--primary-color);
}
.title-color-text-2 {
  color: var(--secondary-color);
}

.enroll-btn {
  background-color: var(--banar-btn-color);
}

.thumbnail {
  /* background-color: #000; */
  width: 45%;
  height: 100%;
  text-align: center;
}

.thumbnail .hero-kid {
  width: 80%;
  /* height: ; */
}

/* Standard Curriculum --------->>> */
#standard-curriculum {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.curriculum-context {
}

.curriculums {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 70px 0;
}
.curriculum {
  padding: 60px 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px 1px #dadada;
  background: white;
  background-image: linear-gradient(#85ffbe69 2%, #fffb7d0e 20%);
}

.curriculum:nth-child(2) {
  /* background-color: #21d4fd; */
  background-image: linear-gradient(#b921ff5d 2%, #21d5fd13 20%);
}
.curriculum:nth-child(2) > .read-more {
  color: #9209d1;
}
.curriculum:nth-child(3) {
  background-image: linear-gradient(#0088ff81 2%, #00f1fe10 20%);
}
.curriculum:nth-child(3) > .read-more {
  color: #036dca;
}
.curriculum img {
  width: 40%;
}

.card-title {
  font-size: 22px;
}
.card-desc {
  font-size: 15px;
}

.read-more {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #07d467;
}

.navigation {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.left {
  padding: 8px;
  clip-path: circle();
  background-color: var(--primary-color);
}
.right {
  padding: 8px;
  clip-path: circle();
  background-color: var(--primary-color);
}

.navigation-hover {
  transition: all 0.3s ease;
}

.navigation-hover:hover {
  transform: scale(1.08);
}

/* Updates ------->>>> */
#marquee {
  width: 100%;
  padding: 30px 0;
  overflow-x: hidden;
}
.marquee-context {
  text-align: center;
  overflow: hidden;
}

marquee {
  background: var(--primary-color);
  margin-top: 50px;
}
.newes {
  /* margin-top: 40px; */
  padding: 10px 0;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.news1 {
  display: flex;
  gap: 15px;
  text-align: center;
  padding: 4px;
  color: white;
  font-size: 18px;
  border: 1px solid;
  box-shadow: 1px 1px 5px 1px white;
  border-radius: 7px;
}
.news1 img {
  width: 40px;
}

/* Our Stories --------->>>>>*/

#our-stories {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background: url("../assets/bg.png"), linear-gradient(#fafe0009 40%, #fea10138);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.story-context {
  position: relative;
  /* background-color: #000; */
}
.stories {
  position: relative;
  /* max-width: fit-content; */
  /* overflow: hidden; */
  width: 100%;
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.story {
  /* border: 1px solid; */
  border-radius: 17px;
  background: white;
  text-align: start;
}
.story > img {
  border-radius: 17px 17px 0 0;
  width: 100%;
}
.story-desc {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.story-desc > .card-title {
  font-size: 15px;
}
.story-date > p {
  font-size: 12px;
  background: #01fda9;
  display: inline;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  top: -52px;
  left: 0;
}
.story:nth-child(1) .story-desc .card-title {
  font-size: 22px;
  margin-bottom: 60px;
}

.story:nth-child(1) .story-date > p {
  background-color: rgb(17, 226, 253);
}
.story:nth-child(3) .story-date > p {
  background-color: rgb(131, 23, 233);
}
.story:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.story-btn {
  background-color: #000;
}

/* Footer Section */
footer {
  padding: 90px 0;
  background-color: var(--secondary-color);
  color: white;
}
.footer-context {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#end-intro {
  flex-basis: 37%;
}
.brand-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.brand-container > p {
  font-size: 16px;
}
.brand-context {
  display: flex;
  gap: 10px;
}
.brand-context img {
  height: 100%;
}

.about-menu {
  margin-top: 20px;
  color: white;
}
.footer-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 40px;
}
.social-media {
  margin-top: 20px;
}

.icons {
  width: 35px;
}

/* Mobile responsive --------->>> */
@media screen and (max-width: 576px) {
  /* Shared CSS --------->>> */
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .text-normal {
    font-size: 14px;
  }
  .btn {
    padding: 6px 19px;
    font-size: 16px;
  }
  .section-title {
    font-size: 26px;
  }
  /* Header ------------>>> */
  header {
    height: fit-content;
    padding-bottom: 50px;
  }
  .header-context {
    width: 100%;
  }
  nav {
    padding: 20px 15px;
    border-bottom: 1px solid var(--primary-color);
  }
  .brand .name {
    display: none;
  }
  .menu {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  /* Banar Section ------->>>*/

  #banar {
    flex-direction: column;
  }

  .banar-intro {
    order: 1;
    width: 90%;
    align-items: center;
  }
  .title {
    font-size: 32px;
    text-align: center;
  }
  .banar-intro p {
    text-align: center;
  }

  .thumbnail {
    width: 90%;
  }

  .thumbnail .hero-kid {
    width: 95%;
  }

  /* Standerd Curriculum ------>> */
  #standard-curriculum {
    padding: 20px 0;
  }
  .curriculums {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .curriculum {
    width: 95%;
  }
  .curriculum > p {
    width: 75%;
  }
  .navigation {
    display: none;
  }

  /* Our Story ------->>> */
  .story:nth-child(1) {
    display: none;
  }
  .stories {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .story > img {
    width: 95%;
  }
  .story-desc {
    padding: 15px;
  }
  .story-desc > .card-title {
    font-size: 12px;
  }
  .story-date > p {
    font-size: 8px;
    padding: 6px 12px;
    top: -33px;
  }
  /* Footer ------->>> */
  .footer-context {
    flex-direction: column;
    gap: 30px;
  }
}
